= render "products/sub_header" 
.showMain
  .showMain__container
    .showMain__container__content
      .showMain__container__content__topContent
        .itemBox
        -# present?でインスタンス変数に値がある場合とない場合の処理をする
        - if @products.present?
          -# searches controllerで定義した変数@productsをeachで表示させる
          - @products.each do |product|
            %h2.itemBox__name
              = product.name
            .itemBox__body
              .itemBox__body--top
                = image_tag product.product_images[0].url.url,class:"itemBox__body--top--image"
            .itemBox__price
              %p
                %span ¥
                = product.price 
              .itemBox__price--detail
                (税込) 送料込み
              .itemBox__purchace
                -# buyer_idがある場合、売り切れ表示
                - if product.buyer_id.present?
                  .itemBox__purchace__btn#soldout-btn
                    売り切れました
            .itemBox__itemDetail 
              %p 
                = product.profile
            .itemBox__table
              %table
                %tbody
                  %tr
                    %th
                      出品者
                    %td
                      = product.seller.nickname
                  %tr
                    %th
                      カテゴリー
                    %td
                      = link_to category_path(product.category.ancestors),class:"itemBox__table--category" do
                        -# 孫カテゴリが存在しない場合
                        - if product.category.ancestors != nil  
                          = product.category.parent.parent.name
                      = link_to category_path(product.category.parent),class:"itemBox__table--category" do
                        = product.category.parent.name
                      = link_to category_path(product.category),class:"itemBox__table--category" do
                        = product.category.name
                  %tr
                    %th
                      商品の状態
                    %td
                      = product.condition.name
                  %tr
                    %th
                      配送料の負担
                    %td
                      = product.postage.name
                  %tr
                    %th
                      発送元の地域
                    %td
                      = link_to "#" do
                        = product.prefecture_code.name  
                  %tr
                    %th
                      発送日の目安
                    %td
                      = product.sendingday.name
          -# インスタンス変数に値がない場合
        - else
          .serch-result 
            該当する商品が見つかりません。 キーワードを変えて、再度お試しください。
= render "products/sub_footer" 