-# クレジットカード削除完了ページ
= render "users/user_header"

- breadcrumb :credit_delete
= render "layouts/breadcrumbs"

.userShow
  .userShow__container
    .userShow__container__left
      = render "users/user_links_top"
      = render "users/user_links_bottom"

    .credit_complete
      .credit_complete__container
        .credit_complete__container__info
          = icon("fas","exclamation-circle",class:"credit_complete__container__info__icon")
          %p クレジットカード情報を削除しました。
        %ul.credit_complete__container__btns
          = link_to user_path(current_user.id), class: "my_page_link__btn" do
            %li.my_page_link
              マイページに戻る
          = link_to new_credit_card_path, class: "credit_cards_index_link__btn" do
            %li.credit_cards_index_link
              新規カード登録             