-# 登録クレジットカード一覧ページ
= render "users/user_header"

- breadcrumb :credit_index
= render "layouts/breadcrumbs"

.userShow
  .userShow__container
    .userShow__container__left
      .userShow__container__left__index
        .userShow__container__left__index__name
          %p マイページ
        .userShow__container__left__index__content
          %ul
            = link_to "#" do
              %li.userbtn 
                お知らせ
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                やることリスト
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                出品する
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                下書き一覧
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                出品した商品-出品中
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                出品した商品-取引中
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                出品した商品-売却済み
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                購入した商品-取引中
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                購入した商品-過去の取引
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                ニュース一覧
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                評価一覧
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                ガイド
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                お問い合わせ
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")

      .userShow__container__left__config
        .userShow__container__left__config__name
          %p 設定
        .userShow__container__left__config__content
          %ul
            = link_to "#" do
              %li.userbtn 
                ユーザー情報更新
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                発送元・お届け先住所変更
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")
            = link_to "#" do
              %li.userbtn 
                ログアウト
                = icon("fas","chevron-right",class:"userShow__container__left__index__content--icon")



    .creditIndex
      .creditIndex__container
        .creditIndex__container__name
          %p 登録クレジットカード情報
        .creditIndex__container__subname
          %p クレジットカード一覧
        .creditIndex__container__list
          .creditIndex__container__list__content
            .creditIndex__container__list__content__left
              .creditIndex__container__list__content__left__logo
                = image_tag "cards/#{@card_src}"
              .creditIndex__container__list__content__left__info
                .creditIndex__container__list__content__left__info__number
                  = "**** **** **** " +  @customer_card.last4
                .creditIndex__container__list__content__left__info__limit
                  %p 有効期限 
                  %span
                    = @exp_month + " / " + @exp_year
            .creditIndex__container__list__content__right
              .creditIndex__container__list__content__right__btn
                = link_to credit_card_path, method: :delete do
                  削除する

        = link_to "#" do
          .creditIndex__container__hint
            %p 支払い方法について
            = icon("fas","chevron-right")

