.header
  .headerInner
    .mainheader
      %h1.icon
        =link_to "#" do
          = image_tag "products/logo.svg", size: '140x40'
      .searchbox
        = form_with(class: "search-form") do |f|
          = f.text_field :keyword, placeholder:"キーワードから検索する", class: "search-input"
          %button.submit-btn
            = icon("fas","search")
      %ul.resultList

  .nav
    %ul.listsleft
      %li.listsleft__item--first
        =link_to "カテゴリー", categories_path, class: "category"
        = render "layouts/categoryTree"

        .treedisplayNone
          %ul.categoryTree
            %li.categoryTree--item
      %li.listsleft__item
        =link_to "ブランド", "#", class: "bland"
        %ul.brandsPulldowndisplayNone

.breadCrumbs
  .breadCrumbs__category
    %p FURIMA
    %span
      = icon("fas","chevron-right",class:"breadCrumbs__category--icon")
    %p 
      マイページ