= render "user_header"

- breadcrumb :logout
= render "layouts/breadcrumbs"

.userShow
  .userShow__container
    .userShow__container__left
      = render "user_links_top"
      = render "user_links_bottom"

    .logout
      =link_to destroy_user_session_path, method: :delete do
        .logout__btn
          ログアウト

= render "layouts/appBanner" 

= render "layouts/footer"