= render "user_header"

- breadcrumb :user
= render "layouts/breadcrumbs"

.userShow
  .userShow__container
    .userShow__container__left
      = render "user_links_top"
      = render "user_links_bottom"
      
          
    .userShow__container__right
      =render "user_profile"
      
      .userShow__container__right__list
        .userShow__container__right__list__name
          %p 出品した商品 (売却済み)
        .userShow__container__right__list__inner
          - @products.each do |product|
            - if product.buyer
              =link_to product_path(product.id) do
                .userShow__container__right__list__inner__content
                  .userShow__container__right__list__inner__content__image
                    = image_tag product .product_images[0].url.url
                  .userShow__container__right__list__inner__content__detail
                    .userShow__container__right__list__inner__content__detail__name
                      = product.name
                    .userShow__container__right__list__inner__content__detail__price
                      = product.price
                      円
                  = icon("fas","chevron-right",class:"userShow__container__right__list__inner__content--icon")
        
= render "layouts/appBanner" 

= render "layouts/footer"