= render "products/sub_header"
.purchase_detail_wrapper
  .purchase_detail_wrapper__form
    .top_text
      購入内容の確認
    .hr
    .purchase-product
      .purchase-product__wrapper
        .purchase-product__wrapper__left
          .purchase-product__wrapper__left__image
            = image_tag 'products/product2.png', class: 'product2'
        .purchase-product__wrapper__right    
          .purchase-product__wrapper__right__name
            %p 
              サバの味噌煮
          .purchase-product__wrapper__right__price
            %p (税込)送料込み
            %p 
              %span ¥
              %p １５００
          
          
    .hr
    .total_price
      .total_price__text
        支払い金額
      .total_price__view
        ¥1,500
    .hr
      
    .payment_methods
      .payment_methods__wrapper
        .text
          %p 支払い方法
        .change
          = link_to "#" do
            変更する
            = icon("fas","chevron-right")
      .credit_card
        .text
          クレジットカード
        .number1
          ************2004
        .deadline
          有効期限 11 / 23
        .type
          visa
    .hr
    .shipping
      .wrapper
        .text
          %p 配送先
        .change
          = link_to "#" do
            変更する
            = icon("fas","chevron-right")
      .seiding__address
        .post_code
          〒453-0014
        .address
          愛知県名古屋市中村区則武１丁目９−１９
        .buildingname
          協和名駅ビル6階
    .hr
    .about
      .text
        郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
    .purchase_btn
      = link_to '#' do
        .text
          購入する

= render "products/sub_footer"


    
