= render "layouts/main_header"

- breadcrumb :category_index
= render "layouts/breadcrumbs"

.categoryIndex
  .categoryIndex__container
    .categoryIndex__container__name
      %p カテゴリー一覧
    .categoryIndex__container__pickup
      - @parents.each do |parent|
        = link_to "\##{parent.id}" do
          .categoryIndex__container__pickup__content
            = parent.name
    - @parents.each do |parent|        
      .categoryIndex__container__list{id:"#{parent.id}"}
        .categoryIndex__container__list__name
          = parent.name
        .categoryIndex__container__list__content
          - parent.children.each do |child|
            .categoryIndex__container__list__content__item
              .categoryIndex__container__list__content__item__name
                = child.name
                %ul.categoryIndex__container__list__content__item__list 
                  - child.children.each do |gc|
                    = link_to category_path(gc.id) do
                      %li
                        = gc.name
          
= render "layouts/footer"