= render "layouts/main_header"

.categoryShow
  .categoryShow__container
    .categoryShow__container__name
      %p 
        = @category.name
        %span
          の商品一覧
    .categoryShow__container__list
      .relatedItems__list__item#categoryProduct
        .relatedItems__list__item__image
          = image_tag "products/product1.png"
        .relatedItems__list__item__detail
          .relatedItems__list__item__detail__left
            .relatedItems__list__item__detail__left--name
              %p
                商品名
            .relatedItems__list__item__detail__left--price
              %p
                ¥3000
              %span  
                (税込み)
          .relatedItems__list__item__detail__right
            = icon("fas","star")
            .relatedItems__list__item__detail__right--count
              0
      
      .relatedItems__list__item#categoryProduct
        .relatedItems__list__item__image
          = image_tag "products/product1.png"
        .relatedItems__list__item__detail
          .relatedItems__list__item__detail__left
            .relatedItems__list__item__detail__left--name
              %p
                商品名
            .relatedItems__list__item__detail__left--price
              %p
                ¥3000
              %span  
                (税込み)
          .relatedItems__list__item__detail__right
            = icon("fas","star")
            .relatedItems__list__item__detail__right--count
              0

      .relatedItems__list__item#categoryProduct
        .relatedItems__list__item__image
          = image_tag "products/product1.png"
        .relatedItems__list__item__detail
          .relatedItems__list__item__detail__left
            .relatedItems__list__item__detail__left--name
              %p
                商品名
            .relatedItems__list__item__detail__left--price
              %p
                ¥3000
              %span  
                (税込み)
          .relatedItems__list__item__detail__right
            = icon("fas","star")
            .relatedItems__list__item__detail__right--count
              0
      
      .relatedItems__list__item#categoryProduct
        .relatedItems__list__item__image
          = image_tag "products/product1.png"
        .relatedItems__list__item__detail
          .relatedItems__list__item__detail__left
            .relatedItems__list__item__detail__left--name
              %p
                商品名
            .relatedItems__list__item__detail__left--price
              %p
                ¥3000
              %span  
                (税込み)
          .relatedItems__list__item__detail__right
            = icon("fas","star")
            .relatedItems__list__item__detail__right--count
              0
        
      .relatedItems__list__item#categoryProduct
        .relatedItems__list__item__image
          = image_tag "products/product1.png"
        .relatedItems__list__item__detail
          .relatedItems__list__item__detail__left
            .relatedItems__list__item__detail__left--name
              %p
                商品名
            .relatedItems__list__item__detail__left--price
              %p
                ¥3000
              %span  
                (税込み)
          .relatedItems__list__item__detail__right
            = icon("fas","star")
            .relatedItems__list__item__detail__right--count
              0


= render "layouts/footer"