= render "sub_header"
-# エラーメッセージ
-if @product.errors.any? 
  .alert
    %ul
      エラーが
      =@product.errors.count
      件あります
      -@product.errors.full_messages.each do |message| 
        %li= message
-# 商品出品
.Exhibition-wrapper
  = form_with model: @product, local: true do |f|
    .Exhibition-form
      .product_images
        .image__text
          .p__image
            出品画像
            %span.required 必須
          最大10枚までアップロードできます
        .upload-box
          .upload-area
            .images__upload-box
              #images__upload
                .p__upload
                  =icon('fas','camera')
          #image-box
            #previews
              -# 複数の別のリソースを同時に保存させる
              = f.fields_for :product_images do |image|
                .js-file_group{data: {index: image.index}} 
                  = image.file_field :url, data:{ index: image.index }, class: 'js-file'
      .hr    
      .product
        .name
          .name__text
            商品名
            %span.required 必須
          .name__field
            = f.text_field :name, placeholder:"40字まで", class:"text"
        .explanation
          .explanation__text
            商品の説明
            %span.required 必須
          .explanation__field
            = f.text_field :profile, placeholder: "商品の説明（必須 1,000文字以内)", class: "textlines"
      .hr  
      .product_details
        .product_details__text
          商品の詳細
        -# formの中身を部分テンプレートに切り出すときは変数fを渡す必要がある
        = render "products/products_category", f:f
        .brand
          .brand__text
            ブランド
            %span.any 任意
          .brand__field
            =f.text_field :brand_name, placeholder: "ブランド"
        .condition
          .condition__text
            商品の状態
            %span.required 必須
          .condition__list_box
            -# include_blank : 先頭を空の選択肢にする
            = f.collection_select :condition_id, Condition.all, :id, :name, {include_blank: "選択してください"}
      .hr  
      .sending
        .sending__text
          配送について
        .burden
          .burden__text
            配送料の負担
            %span.required 必須
          .burden__list_box
            = f.collection_select :postage_id, Postage.all, :id, :name, {include_blank: "選択してください"}
        .sending_type
          .sending_type__text
            配送料の方法
            %span.required 必須
          .sending_type__list_box
            = f.collection_select :sendingtype_id, Sendingtype.all, :id, :name,{include_blank: "選択してください"}
        .sending_preficture
          .sending_preficture__text
            発送元の地域
            %span.required 必須
          .sending_preficture__list_box
            = f.collection_select :prefecture_code_id, PrefectureCode.all, :id, :name,{include_blank: "選択してください"}
        .sending_day
          .sending_day__text
            発送までの日数
          .sending_day__list_box
            = f.collection_select :sendingday_id, Sendingday.all, :id, :name,{include_blank: "選択してください"}
      .hr

      .price
        .price__about
          価格（¥300〜9,999,999）
        .wrapper
          .wrapper__text
            販売価格
            %span.required 必須
          .wrapper__listbox
            ¥
            = f.number_field :price, :placeholder => "0", class:"price"
        .wrapper_tex
          .wrapper_tex__text
            販売手数料(10%)
          .wrapper_tex__view
            (-)
        .hr

        .wrapper_gain
          .wrapper_gain__text
            販売利益
          .wrapper_gain__view
            (-)


      .exhibition
        .exhibition__wrapper
          .exhibition_btn
            = f.submit "出品する"
          = link_to '#' do
            .draft_btn
              下書きに保存
        .return
          = link_to 'もどる', '#'

      .precautions
        .precautions__text
          禁止されている
          = link_to '行為', '#'
          および
          = link_to '出品物', '#'
          を必ずご確認ください。
          = link_to '偽ブランド品', '#'
          や
          = link_to '盗難品', '#'
          などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
          = link_to '加盟店規約', '#'
          に同意したことになります。
= render "sub_footer"