.showMain
  .showMain__container
    .showMain__container__content
      .showMain__container__content__topContent
        .itemBox
          %h2.itemBox__name
            = @product.name
          .itemBox__body
            .itemBox__body--top
              = image_tag @product .product_images[0].url.url,class:"itemBox__body--top--image"
            .itemBox__body--bottom
              - if @images.count >= 2
                %ul
                  - @product.product_images.each do |image|
                    %li
                      = image_tag image.url.url
          .itemBox__price
            %p
              %span ¥
              = @product.price 
            .itemBox__price--detail
              (税込) 送料込み
          .itemBox__purchace
            -# buyer_idがある場合、売り切れ表示
            - if @product.buyer_id.present?
              .itemBox__purchace__btn#soldout-btn
                売り切れました
            - else  
              = link_to confirmation_product_purchase_path(params[:id]) do
                .itemBox__purchace__btn
                  購入画面に進む
          .itemBox__itemDetail
            %p
              = @product.profile
          .itemBox__table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = @product.seller.nickname
                %tr
                  %th
                    カテゴリー
                  %td
                    -# 孫カテゴリが存在しない場合
                    - if @category.parent.parent != nil
                      = link_to category_path(@category.parent.parent),class:"itemBox__table--category" do 
                        = @category.parent.parent.name
                    = link_to category_path(@category.parent),class:"itemBox__table--category" do
                      = @category.parent.name
                    = link_to category_path(@category),class:"itemBox__table--category" do
                      = @category.name
                -# %tr
                -#   %th
                -#     ブランド
                -#   %td
                    -# = @product.brand.name
                -# %tr
                -#   %th
                -#     商品のサイズ
                -#   %td
                -#     サイズ仮置
                %tr
                  %th
                    商品の状態
                  %td
                    = @product.condition.name
                %tr
                  %th
                    配送料の負担
                  %td
                    = @product.postage.name
                %tr
                  %th
                    発送元の地域
                  %td
                    = link_to "#" do
                      = @product.prefecture_code.name  
                %tr
                  %th
                    発送日の目安
                  %td
                    = @product.sendingday.name
          .itemBox__optionalArea
            .itemBox__optionalArea__like
              .itemBox__optionalArea__like--name
                = icon("fas","star",class:"itemBox__optionalArea__like--name--icon")
                %p.itemBox__optionalArea__like--name--content
                  お気に入り
              .itemBox__optionalArea__like--count
                %p
                  0

            = link_to "#" do   
              .itemBox__optionalArea--alert
                .itemBox__optionalArea--alert--logo
                  = icon("fas","flag")
                .itemBox__optionalArea--alert--content
                  %p
                    不適切な商品の通報

      .commentBox
        .commentBox__list
          .commentBox__list__name
            %p 〈コメント一覧〉
          .commentBox__list__contents  
            - @comments.each do |comment|
              -# ログインユーザーの場合、ピンク色で表示
      
              .commentBox__list__contents__content{data:{index: comment.id}} 
                .commentBox__list__contents__content__user
                  .commentBox__list__contents__content__user__image
                    -# ユーザー画像の表示
                    - if comment.user.image
                      = image_tag "users/member_thumb.png"
                    - else
                      = image_tag "users/member_thumb.png"
                  .commentBox__list__contents__content__user__detail  
                    .commentBox__list__contents__content__user__detail__name
                      %p
                        = comment.user.nickname
                    -# 出品者の場合、出品者アイコンの表示
                    - if comment.user == comment.product.seller
                      .commentBox__list__contents__content__user__detail__seller
                        %p 出品者
                .commentBox__list__contents__content__comment
                  .commentBox__list__contents__content__comment__top
                    -#  仮削除状態かどうかのチェック
                    - if comment.delete_check == 1
                      %p.comment_delete 出品者によりこのコメントは削除されました。
                    - else
                      %p
                        = comment.body
                  - if comment.delete_check == 0
                    .commentBox__list__contents__content__comment__bottom
                      %p 
                        = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                -# 自分が出品者の場合ボタンを表示
                - if comment.product.seller == current_user
                  .commentBox__list__contents__content__btns
                    - if comment.delete_check == 0
                      .commentBox__list__contents__content__btns__deletebtn.other_pre_delete{data:{index: comment.id}}
                        %p 削除
  

      .links
        =link_to "#" do
          .links__before
            = icon("fas","chevron-left",class:"links__before--icon")
            %p
              前の商品
        =link_to "#" do
          .links__after
            %p
              次の商品
            = icon("fas","chevron-right",class:"links__after--icon")
        
      .relatedItems 
        = link_to category_path(@category) do
          .relatedItems__link
            %p
              %span
                = @category.name
              %span
                をもっとみる
        .relatedItems__list
          - @products.each do |product|
            = link_to product_path(product) do
              .relatedItems__list__item
                .relatedItems__list__item__image
                  = image_tag product .product_images[0].url.url
                .relatedItems__list__item__detail
                  .relatedItems__list__item__detail__left
                    .relatedItems__list__item__detail__left--name
                      %p
                        = product.name
                    .relatedItems__list__item__detail__left--price
                      %p
                        %span
                          ¥
                        %span
                          = product.price
                      %span  
                        (税込み)
                  .relatedItems__list__item__detail__right
                    = icon("fas","star")
                    .relatedItems__list__item__detail__right--count
                      0

          