
= render "layouts/main_header"

.main
  %section.mainVisual
    .content
      %h2.content__subtitle 人生を変えるフリマアプリ
      %br
      %p.content__text FURIMAは誰でも簡単に出品・購入できる
      %p.content__text フリマアプリです
      .content__btn
        =link_to "#", class:'aBtn' do
          = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"
        =link_to "#", class:'gBtn' do
          = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"
    .picture
  %section.topIntoduction
    %h2.subtitle FURIMAが選ばれる三つの理由
    %ul.lists
      %li.list
        .list__pict
          %span 1
          = image_tag src="products/pict-reason-01.jpg"
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span 2
          = image_tag src="products/pict-reason-02.jpg"
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list--last
        .list__pict
          %span 3
          = image_tag src="products/pict-reason-03.jpg"
        %h3.list__text 
          手数料
          %span 業界最安値
        %p.list__description 最大３％でお得に出品・購入！
  %section.topMiddle
    .topMiddle__inner
      %h2.subtittle 会員数日本一位
      %p.text 
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        欲しかったあの商品に出会えるかもしれません。
      .btn
        =link_to "#", class:'aBtn' do
          = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"
        =link_to "#", class:'gBtn' do
          = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"
  %section.topKeyFaetures
    %h2.head FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag src="products/icon-01.png"
        %h3.item__subtitlle 簡単に売り買いできる
        %p.item__detail スマホ一つで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag src="products/icon-03.png"
        %h3.item__subtitlle 売上金は即日振込みに対応
        %p.item__detail 午前９時までに振り込みを依頼いただければ、翌日に指定の口座に入金いたします！
      %section.item
        %figure.item__img
          = image_tag src="products/icon-04.png"
        %h3.item__subtitlle 様々な支払いに対応
        %p.item__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります！
  %section.pickupContainer
    %h2.head ピックアップカテゴリー
    .productBox
      .productHead
        =link_to "#", class:"product" do
          %h3.title 新規投稿商品
      .productLists
        - @products.each do |product|
          -if product.buyer_id
            .productList
              =link_to product_path(product.id), class:"listimage" do
                %figure.productList--img
                  = image_tag product .product_images[0].url.url
                .productList__body
                  %h3.name 
                    = product.name
                  .details
                    %ul.price
                      %li 
                        = product.price
                        円
                      %li.icon 
                        =icon('fa','star')
                    %p.tax (税込)
                .productList__sold
                  .productList__sold__inner
                    sold
          - else
            .productList
              =link_to product_path(product.seller_id), class:"listimage" do
                %figure.productList--img
                  = image_tag product .product_images[0].url.url
                .productList__body
                  %h3.name 
                    = product.name
                  .details
                    %ul.price
                      %li 
                        = product.price
                        円
                      %li.icon 
                        =icon('fa','star')
                    %p.tax (税込)
  %section.pickupContainer
    %h2.head ピックアップブランド
    .productBox
      .productHead
        =link_to "#", class:"product" do
          %h3.title アーカイバー
      .productLists
        .productList
          =link_to "#", class:"listimage" do
            %figure.priductList--img
            .productList--body
              %h3.name テスト
              .details
                %ul.price
                  %li 10000円
                  %li.icon 
                    =icon('fa','star')
                %p.tax (税込)

= render "layouts/appBanner"
= render "layouts/footer"