= render "layouts/main_header"

.breadCrumbs
  .breadCrumbs__category
    %p FURIMA
    %span
      = icon("fas","chevron-right",class:"breadCrumbs__category--icon")
    %p ベビー・キッズ
    
- if current_user
  = render "products/show_login"
- else
  = render "products/show_not_login"

= render "layouts/appBanner" 

= render "layouts/footer" 