= render "layouts/main_header"

- breadcrumb :product
= render "layouts/breadcrumbs"
    
- if current_user
  = render "products/show_login"
- else
  = render "products/show_not_login"

= render "layouts/appBanner" 

= render "layouts/footer" 