= render "layouts/main_header"

.breadCrumbs
  .breadCrumbs__category
    %p FURIMA
    %span
      = icon("fas","chevron-right",class:"breadCrumbs__category--icon")
    %p ベビー・キッズ

.showMain
  .showMain__container
    .showMain__container__content
      .showMain__container__content__topContent
        .itemBox
          %h2.itemBox__name
            = @product.name
          .itemBox__body
            .itemBox__body--top
              = image_tag "products/product2.png",class:"itemBox__body--top--image"
            .itemBox__body--bottom
              %ul
                %li
                  = image_tag "products/product2.png"
                %li
                  = image_tag "products/product3.png"
                %li
                  = image_tag "products/product4.png"
          .itemBox__price
            %p
              = @product.price 
              %span 円
            .itemBox__price--detail
              (税込) 送料込み
          .itemBox__itemDetail
            %p
              = @product.profile
          .itemBox__table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    hoge
                %tr
                  %th
                    カテゴリー
                  %td
                    = link_to "#",class:"itemBox__table--category" do
                      -# 孫カテゴリが存在しない場合
                      - if @category.parent.parent != nil  
                        = @category.parent.parent.name
                    = link_to "#",class:"itemBox__table--category" do
                      = @category.parent.name
                    = link_to "#",class:"itemBox__table--category" do
                      = @category.name
                %tr
                  %th
                    ブランド
                  %td
                %tr
                  %th
                    商品のサイズ
                  %td
                %tr
                  %th
                    商品の状態
                  %td
                    未使用に近い
                %tr
                  %th
                    配送料の負担
                  %td
                    送料込み（出品者負担）
                %tr
                  %th
                    発送元の地域
                  %td
                    = link_to "#" do
                      岩手県
                %tr
                  %th
                    発送日の目安
                  %td
                    4-7日で発送

          .itemBox__optionalArea
            .itemBox__optionalArea__like
              .itemBox__optionalArea__like--name
                = icon("fas","star",class:"itemBox__optionalArea__like--name--icon")
                %p.itemBox__optionalArea__like--name--content
                  お気に入り
              .itemBox__optionalArea__like--count
                %p
                  0

            = link_to "#" do   
              .itemBox__optionalArea--alert
                .itemBox__optionalArea--alert--logo
                  = icon("fas","flag")
                .itemBox__optionalArea--alert--content
                  %p
                    不適切な商品の通報

      .commentBox
        %form
          %textarea{class:"commentBox__text"}
          .commentBox__detail
            %p
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .commentBox__btn
            %button{type:"submit",class:"commentBox__btn--submit"}
              .commentBox__btn--submit--icon
                = icon("fas","comment")
                %p
                  コメントする

      .links
        =link_to "#" do
          .links__before
            = icon("fas","chevron-left",class:"links__before--icon")
            %p
              前の商品
        =link_to "#" do
          .links__after
            %p
              次の商品
            = icon("fas","chevron-right",class:"links__after--icon")
        
      .relatedItems 
        = link_to "#" do
          .relatedItems__link
            %p
              ベビー・キッズをもっとみる
        .relatedItems__list
          = link_to "#" do
            .relatedItems__list__item
              .relatedItems__list__item__image
                = image_tag "products/product1.png"
              .relatedItems__list__item__detail
                .relatedItems__list__item__detail__left
                  .relatedItems__list__item__detail__left--name
                    %p
                      商品名
                  .relatedItems__list__item__detail__left--price
                    %p
                      ¥3000
                    %span  
                      (税込み)
                .relatedItems__list__item__detail__right
                  = icon("fas","star")
                  .relatedItems__list__item__detail__right--count
                    0
          = link_to "#" do
            .relatedItems__list__item
              .relatedItems__list__item__image
                = image_tag "products/product1.png"
              .relatedItems__list__item__detail
                .relatedItems__list__item__detail__left
                  .relatedItems__list__item__detail__left--name
                    %p
                      商品名
                  .relatedItems__list__item__detail__left--price
                    %p
                      ¥3000
                    %span  
                      (税込み)
                .relatedItems__list__item__detail__right
                  = icon("fas","star")
                  .relatedItems__list__item__detail__right--count
                    0
          = link_to "#" do
            .relatedItems__list__item#categoryProduct
              .relatedItems__list__item__image
                = image_tag "products/product1.png"
              .relatedItems__list__item__detail
                .relatedItems__list__item__detail__left
                  .relatedItems__list__item__detail__left--name
                    %p
                      商品名
                  .relatedItems__list__item__detail__left--price
                    %p
                      ¥3000
                    %span  
                      (税込み)
                .relatedItems__list__item__detail__right
                  = icon("fas","star")
                  .relatedItems__list__item__detail__right--count
                    0

= render "layouts/appBanner" 

= render "layouts/footer"