= render 'products/sub_header'

.new_user_registration_wrapper
  .registration-form
    .top
      .text
        会員情報入力
    .hr
    = form_for(@user, url: user_registration_path) do |f|
      .basic_information
        .nickname-label
          ニックネーム
          %span.required 必須
        .nickname-text
          = f.text_field :nickname, placeholder: '例）フリマ太郎'
        .mail-label
          メールアドレス
          %span.required 必須
        .mail-text
          = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
        .password-label
          パスワード
          %span.required 必須
        .password-text
          
          = f.password_field :password, placeholder: '7文字以上の半角英数字' 
        .password-caution
          　　　　
        .password-label2
          確認用パスワード
        .password-text2
          
          = f.password_field :password_confirmation, placeholder: 'パスワードをもう一度入力してください'
      .hr
      .explanation
        .text
          %b
            本人確認
          %br
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .private_information
        .chinese_characters
          .text
            お名前（全角）
            %span.required 必須
          .wrapper
            .last_name
              = f.text_field :family_name, placeholder: '例）山田'
            .first_name
              = f.text_field :first_name, placeholder: '例）太郎'
        .hiragana
          .text
            お名前カナ（全角）
            %span.required 必須
          .wrapper
            .last_name
              = f.text_field :family_name_kana, placeholder: '例）ヤマダ'
            .first_name
              = f.text_field :first_name_kana, placeholder: '例）タロウ'
        .birthday
          .text
            生年月日
            %span.required 必須
          .wrapper
            = raw sprintf(f.date_select(:birth_date, include_blank: true, use_month_numbers: true,start_year: 1920,end_year: (Time.now.year - 10),date_separator: '%s'),'年 ', '月 ')
            日 
      
      .hr
      = f.fields_for :sending_address do |i|
        .sending
          .text
            商品送付先の入力
        .sending-address
          .chinese_characters
            .chinese
              お名前（全角）
              %span.required 必須
            .wrapper
              .last_name
                = i.text_field :family_name, placeholder: '例）山田'
              .first_name
                = i.text_field :first_name, placeholder: '例）太郎'
          .hiragana
            .hira
              お名前カナ（全角）
              %span.required 必須
            .wrapper
              .last_name
                = i.text_field :family_name_kana, placeholder: '例）ヤマダ'
              .first_name
                = i.text_field :first_name_kana, placeholder: '例）タロウ'
          .post_code
            .label
              郵便番号
              %span.required 必須
            .post
              = i.text_field :post_code
          .prefecture_code
            .label
              都道府県
              %span.required 必須
            .prefecture
              = i.text_field :prefecture_code
          .city
            .label
              市区町村
              %span.required 必須
            .city-code
              = i.text_field :city
          .house_number
            .label
              番地
              %span.required 必須
            .house
              = i.text_field :house_number
          .building_name
            .label
              ビル、マンション名
            .buid
              = i.text_field :building_name
          .phone_number
            .label
              電話番号
            .phone
              = i.text_field :phone_number
      .btn-area
        = f.submit "ユーザー登録", class: "btn"
= render 'products/sub_footer'


